name: Sync Labels

on:
  push:
    branches:
      - main
    paths:
      - .github/labels.yml

jobs:
  sync-labels:
    name: Sync repository labels
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: micnncim/action-label-syncer@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          manifest: .github/labels.yml